body {
  background-color: #ecf8f8;
}

section {
  background-color: #ecf8f8;
}

h1 {
  color: #ffffff;
}

h2 {
  color: #1460aa;
}

.special-header {
  color: #9b140b;
}
#top {
  background: #2e86ab;
}

a {
  color: #43aa8b;
}

nav a {
  color: #e53d00;
}
.navigation {
  background: #478a05;
  padding: 16px;
  border-radius: 8px;
}

.navigation__link {
  color: #fff;
  display: inline-block;
  margin-right: 20px;
}

.navigation__link--homepage {
  background: yellow;
  color: #000;
}
