body {
  background-color: #fefefe;
}

section {
  background-color: #ffffff;
}

a {
  color: #a4b40f;
}

.navigation {
  background: #478a05;
  padding: 16px;
  border-radius: 8px;
}

.navigation__link {
  color: #fff;
  display: inline-block;
  margin-right: 20px;
}

.navigation__link--homepage {
  background: yellow;
  color: #000;
}

.week-summary {
  padding: 16px;
  border: 5px solid #cccccc;
  margin-bottom: 16px;
}

.week-summary--special {
  border: 5px solid #7e3e03;
  border-radius: 4%;
}

.week-summary__description {
  color: #92140c;
}

.week-summary__title {
  color: #21a179;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
}

.main__heading {
  color: yellowgreen;
}

.about {
}

.about__heading {
  color: #110253;
}

.about__link {
  color: #92140c;
}

.notes {
}

.notes__heading {
  color: #145a3d;
}

.footer {
  max-width: 1000px;
  margin: 0 auto;
}

.footer__link {
  color: #151958;
}
