body {
    background-color: #ECF8F8;
}

section {
    background-color: #ECF8F8;
}

h1 {
    color: #ffffff;
}

p {
    color: #1d1285;
}

h2 {
    color: #1460AA;
}

.special-header{
    color:#92140C;
}
#top {
    background:#2E86AB;
}

a{
    color:#43AA8B;
}

nav a {
    color:#E53D00;
}